<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>servlet.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSesion</servlet-name>
        <servlet-class>servlet.EndSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DthMain</servlet-name>
        <servlet-class>servlet.DthMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>servlet.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDelete</servlet-name>
        <servlet-class>servlet.UploadDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadEnabled</servlet-name>
        <servlet-class>servlet.UploadEnabled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadDisabled</servlet-name>
        <servlet-class>servlet.UploadDisabled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadCintillo</servlet-name>
        <servlet-class>servlet.UploadCintillo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSesion</servlet-name>
        <url-pattern>/EndSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DthMain</servlet-name>
        <url-pattern>/DthMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDelete</servlet-name>
        <url-pattern>/UploadDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadEnabled</servlet-name>
        <url-pattern>/UploadEnabled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadDisabled</servlet-name>
        <url-pattern>/UploadDisabled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadCintillo</servlet-name>
        <url-pattern>/UploadCintillo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
